<html>
<head>
<title> {{ title }}</title>
</head>
<body>
<table border="0" width="800" style="border:1px solid #999999;font-size:11px;" cellspacing="0" class="border" >
<tr>
     <td colspan = "10" align="center" style="border-bottom:1px solid #999999;text-align:center;">
                {{ company.company_name }}
                <br>
                {{ company_address.address }}, {{company_address.city}}, {{company_address.state}}, {{company_address.zip }}
                <br>
                {{ contact_detail.phone_number }}</br></br></td>
</tr>

<tr><td colspan = "5" style="border-bottom:1px solid #999999;text-align:right;"><b>GSTIN:</b></td>
        <td colspan="5" style="border-bottom:1px solid #999999;">{{ company.gst }}</td>
</tr>
<tr><td colspan = "10" align="center" style="border-bottom:1px solid #999999;text-align:center;"><b>TAX INVOICE</b></br>(U/S-31(1)of CGST Act,2017 read with Rule 1) </td>
</tr>

<tr>
        <td colspan = "2" style="border-right:1px solid #999999;border-bottom:1px solid #999999;">Reverse charge</td>
        <td colspan = "3" style="border-right:1px solid #999999;border-bottom:1px solid #999999;"></td>
        <td colspan = "4" style="border-right:1px solid #999999;border-bottom:1px solid #999999;border-bottom:1px solid #999999;">Original For Recipient</td>
        <td style="border-bottom:1px solid #999999;" width="100"></td>
</tr>
<tr>
        <td colspan = "2" style="border-right:1px solid #999999;border-bottom:1px solid #999999;">Invoice No.</td>
        <td colspan = "3" align="center"style="border-right:1px solid #999999;border-bottom:1px solid #999999;"> {{ invoice.invoice_no }}</td>
        <td colspan = "4" style="border-right:1px solid #999999;border-bottom:1px solid #999999;">Duplicate For Transporter</td>
        <td style="border-bottom:1px solid #999999;" width="100"></td>
</tr>
<tr>
        <td colspan = "2" style="border-right:1px solid #999999;border-bottom:1px solid #999999;">Invoice Date</td>
        <td colspan = "3" style="border-right:1px solid #999999;border-bottom:1px solid #999999;">{{ invoice.invoice_date }}</td>
        <td colspan = "4" style="border-right:1px solid #999999;">Triplicate For Supplier</td>
        <td width="100" ></td>
</tr>
<tr>
        <td colspan = "2"style="border-right:1px solid #999999;border-bottom:1px solid #999999;">State</td>
        <td style="border-right:1px solid #999999;border-bottom:1px solid #999999;" width="100">{{ company_state.name }}</td>
        <td colspan = "2"style="border-right:1px solid #999999;border-bottom:1px solid #999999;"width="10000">State Code: {{ company_state.code }}</td>
        <td colspan = "4"style="border-right:1px solid #999999;border-bottom:1px solid #999999;"></td>
        <td style="border-bottom:1px solid #999999;"width="100"></td>
</tr>
<tr><td colspan = "10"style="border-bottom:1px solid #999999;"></br></td></tr>

<tr>
        <td colspan = "5"align="center"style="border-bottom:1px solid #999999;border-right:1px solid #999999;">Detail Of Recipient/Billed To</td>
        <td colspan = "5"align="center"style="border-bottom:1px solid #999999;">Detail Of Consignee/ Address Of Delivery/Shipped To</td>

</tr>
<tr>
        <td colspan = "5"style="border-bottom:1px solid #999999;border-right:1px solid #999999;">{{ invoice.recipient }}</td>
        <td colspan = "5"style="border-bottom:1px solid #999999;">{{ invoice.consignee }}</td>

</tr>
<tr>
        <td colspan = "5"style="border-bottom:1px solid #999999;border-right:1px solid #999999;">{{ invoice.billing_address }}</br></td>
</br>
        <td colspan = "5">{{ invoice.shipping_address }}</br></td>

</tr>
<tr>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;">GSTIN/UIN</td>
        <td colspan=2 style="border-bottom:1px solid #999999;"> {{ client.gst }}</td>
        <td colspan = "2" style="border-bottom:1px solid #999999;border-right:1px solid #999999;"></td>
        <td colspan = "5" style="border-bottom:1px solid #999999;"></td>

</tr>
<tr>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;">State</td>
        <td colspan = "2"style="border-bottom:1px solid #999999;border-right:1px solid #999999;"> {{ invoice.billing_state }}</td>
        <td colspan = "2"style="border-bottom:1px solid #999999;border-right:1px solid #999999;">State Code:-  {{ invoice.billing_state_code }}</td>
        <td colspan = "2"style="border-bottom:1px solid #999999;border-right:1px solid #999999;">State</td>
        <td colspan = "2"style="border-bottom:1px solid #999999;border-right:1px solid #999999;">{{ invoice.shipping_state }}</td>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;">State Code:-  {{ invoice.shipping_state_code }}</td>

</tr>
  <tr><td colspan = "10"style="border-bottom:1px solid #999999;"><br /></td></tr>
<tr>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;"align="center">Sr No.</td>
        <td style="border-bottom:1px solid #999999;"align="center" colspan="2">Description Of Goods /Services</td>

        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;"width="80"align="center">HSN</br>ACS</td>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;"align="center">Quatity</br>Code</td>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;"width="80"align="center">Qty</td>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;"width="80"align="center">Rate</td>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;"width="80"align="center">Value</td>
        <td style="border-bottom:1px solid #999999;border-right:1px solid #999999;" align="center">Less Discount</td>
        <td style="border-bottom:1px solid #999999;" align="center">Taxable value(Rs.)</td>
</tr>
        {% for item in items %}
<tr>
        <td style="border-right:1px solid #999999;">{{ forloop.counter }}</td>
        <td style="border-right:1px solid #999999;" colspan="2">{{ item.description}}</td>
        <td style="border-right:1px solid #999999;">{{ item.hsn_code}}</td>
        <td style="border-right:1px solid #999999;">{{ item.quantity_code}}</td>
        <td style="border-right:1px solid #999999;">{{ item.quantity}}</td>
        <td style="border-right:1px solid #999999;">{{ item.rate}}</td>
        <td style="border-right:1px solid #999999;"> {{ item.value}}</td>
        <td style="border-right:1px solid #999999;">{{ item.discount}}</td>
        <td style="border-bottom:1px solid #999999;" align="center"> {{ item.tax_value}}</td>
</tr>
        {% endfor %}


<tr>
        <td colspan="5" style="border-right:1px solid #999999; border-bottom:1px solid #999999;">Total: <b>{{ invoice.grand_total }}</b></td>
        <td style="border-right:1px solid #999999; border-bottom:1px solid #999999;"></td>
        <td style="border-right:1px solid #999999; border-bottom:1px solid #999999;"></td>
        <td style="border-right:1px solid #999999; border-bottom:1px solid #999999;"></td>
        <td style="border-right:1px solid #999999; border-bottom:1px solid #999999;"></td>
        <td style="border-bottom:1px solid #999999;"></td>


</tr>
<tr>
        <td colspan = "5"style="border-right:1px solid #999999; border-bottom:1px solid #999999;"></td>
        <td colspan = "5" align="center"style="border-bottom:1px solid #999999;">Add Parking/Transportation Charges/Insurance</td>

</tr>
<tr>
        <td colspan = "7"style="border-right:1px solid #999999;">Total Invoice Value in Words: <b>{{ total_in_words }}</b></td>
        <td colspan = "2"style="border-right:1px solid #999999; border-bottom:1px solid #999999;">Total Value Before Tax(Rs.)</td>
        <td  style=" border-bottom:1px solid #999999;">{{ invoice.total }}</td>

</tr>
<tr>
        <td colspan = "7"style="border-right:1px solid #999999;"></td>
        <td colspan = "2" style="border-right:1px solid #999999; border-bottom:1px solid #999999;">Add CGST % On T.V.</td>
        <td colspan = "1" style="border-bottom:1px solid #999999;">{{ invoice.cgst }}</td>

</tr>
<tr>
        <td colspan = "7" style="border-right:1px solid #999999;border-bottom:1px solid #999999;"></td>
        <td colspan = "2" style="border-right:1px solid #999999; border-bottom:1px solid #999999;">Add SGST % On T.V.</td>
        <td colspan = "1" style="border-bottom:1px solid #999999;">{{ invoice.sgst }}</td>

</tr>
<tr>
        <td colspan = "7"style="border-right:1px solid #999999;border-bottom:1px solid #999999;">
                {% if invoice.remarks %}Remarks:- {{ invoice.remarks}} {% else %} Remarks: Notification number availed if any. {% endif %}</td>
        <td colspan = "2" style="border-right:1px solid #999999; border-bottom:1px solid #999999;">Add IGST % On T.V.</td>
        <td colspan = "1"style="border-bottom:1px solid #999999;" >{{ invoice.igst }}</td>

</tr>
<tr>
        <td colspan = "7"style="border-right:1px solid #999999;border-bottom:1px solid #999999;"></td>
        <td colspan = "2"style="border-bottom:1px solid #999999;border-right:1px solid #999999;" >Tax Amount:GST(Rs.) </td>
        <td colspan = "1"style="border-bottom:1px solid #999999;" >{{ invoice.gst_amount }}</td>

</tr>
<tr>
        <td colspan = "5"align="center"style="border-right:1px solid #999999;">Bank Details: {{ bank_detail.bank_name }}
                <br />Bank Account Number:  {{ bank_detail.account_number }}</td>
        <td colspan = "2" style="border-right:1px solid #999999;"></td>
        <td colspan = "2"style="border-right:1px solid #999999;border-bottom:1px solid #999999;" >Total Value After Tax(Rs.)</td>
        <td style="border-bottom:1px solid #999999;">{{ invoice.grand_total }}</td>


</tr>
<tr>
        <td colspan = "5"style="border-right:1px solid #999999;border-bottom:1px solid #999999;">Bank Branch: {{ bank_detail.ifsc }}</td>
        <td colspan = "2" style="border-right:1px solid #999999;" ></td>
        <td colspan = "2" style="border-right:1px solid #999999;border-bottom:1px solid #999999;" >GST Payble On Reverse Charge</td>
        <td style="border-bottom:1px solid #999999;"></td>

</tr>

<tr>
        <th colspan = "1"style="border-bottom:1px solid #999999;border-right:1px solid #999999;">PAN NO:</th>
        <td colspan = "4"style="border-bottom:1px solid #999999;border-right:1px solid #999999;" >{{ tax_detail.pan }}</td>
        <td colspan = "2" style="border-right:1px solid #999999;"></td>
        <td colspan = "3">for,</td>



</tr>
<tr>

        <th colspan = "5" align="center"style="border-bottom:1px solid #999999;border-right:1px solid #999999;">Terms And Condition <br /> {{ invoice.terms }}</th>
        <td colspan = "2"style="border-bottom:1px solid #999999;border-right:1px solid #999999;" align="center"></br></br></br>(common seal)</td>
        <td colspan = "3"style="border-bottom:1px solid #999999;" align="center"></br> {% if  invoice.authorised_signatory %}
                     {{ invoice.authorised_signatory }}
                  {% else %}
                     {{ contact_detail.first_name}} {{ contact_detail.last_name }}
                  {% endif %}
                </br>Authorised Representative</td>

</tr>

<tr><td colspan = "10"style="border-bottom:1px solid #999999;"></br></td></tr>

<tr><td colspan = "5" align="center" style="text-align:right;">
        Email:</td><td colspan="5"> {{ contact_detail.email }} </td></tr>


</table>
</body>

</html>
