<html>
<head>
        {% load staticfiles %}
<title> {{ invoice.client.client_name }} - {{ invoice.invoice_no }}</title>

<link href="{% static 'frontend/css/bill_pdf.css'%}" rel="stylesheet">

</head>
<body>
<div class="main">
        <table border="0" cellspacing="0" class="main" >
                <tr>
                     <td class="border" align="center">
                        <div class="title top">
                                {{ company.company_name }}
                        </div>
                        <div class="top">
                                {{ company.address.address }}, {{company.address.city}}, {{company.address.state}}, {{company.address.zip }}
                        </div>
                        <div class="top">
                                {{ company.contact.phone_number }}
                        </div>

                     </td>
                </tr>

                <tr>
                    <td class="border" >
                            <div class="heading thirty right">GSTIN :</div>
                            <div>{{ company.gst }}</div>
                    </td>

                </tr>
                <tr>
                    <td align="center" class="border" >
                            <div class="title top">TAX INVOICE</div>
                            <div class="top">(U/S-31(1)of CGST Act,2017 read with Rule 1)</div>
                    </td>

                </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
                <tr>
                        <td class="small">Reverse charge</td>
                        <td class="medium"></td>
                        <td class="medium">Original For Recipient</td>
                        <td></td>
                </tr>

                <tr>
                        <td>Invoice No.</td>
                        <td align="center"> {{ invoice.invoice_no }}</td>
                        <td>Duplicate For Transporter</td>
                        <td></td>
                </tr>
                <tr>
                        <td>Invoice Date</td>
                        <td>{{ invoice.invoice_date }}</td>
                        <td rowspan="2">Triplicate For Supplier</td>
                        <td rowspan="2"></td>
                </tr>
                <tr>
                        <td>State</td>
                        <td>
                                <div class="sixty">{{ company.address.state.name }}</div>
                                <div>State Code: {{ company.address.state.code }} </div>
                        </td>
                </tr>
                <tr><td colspan="4">&nbsp;</td> </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
                <tr>
                        <td class="fifty" align="center">Detail Of Recipient/Billed To</td>
                        <td class="fifty" align="center">Detail Of Consignee/ Address Of Delivery/Shipped To</td>
                </tr>
                <tr>
                        <td class="heading">{{ invoice.recipient }}</td>
                        <td class="heading">{{ invoice.consignee }}</td>
                </tr>
                <tr>
                        <td class="textarea">{{ invoice.billing_address }}</td>
                        <td class="textarea" rowspan="2">{{ invoice.shipping_address }}</td>
                </tr>
                <tr>
                        <td>
                                <div class="small pull-left">GSTIN/UIN</div>
                                <div class="heading lborder pull-left">{{ invoice.client_gst }}</div>

                        </td>
                </tr>
                <tr>
                        <td>
                                <div class="small pull-left">State</div>
                                <div class="lborder pull-left">{{ invoice.billing_state }}</div>
                                <div class="lborder pull-right">State Code: {{ invoice.billing_state_code }} </div>

                        </td>
                        <td>
                                <div class="small pull-left">State</div>
                                <div class="lborder pull-left">{{ invoice.shipping_state }}</div>
                                <div class="lborder pull-right">State Code: {{ invoice.shipping_state_code }} </div>
                        </td>
                </tr>
                <tr><td colspan = "2">&nbsp;</td></tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">

                <tr>
                        <th width="20px">Sr No.</th>
                        <th  >Description Of Goods/Services</th>

                        <th width="80px">HSN ACS</th>
                        <th  width="80px" >Quatity Code</th>
                        <th width="80px">Qty</th>
                        <th width="80px">Rate</th>
                        <th width="80px">Value</th>
                        <th width="80px">Less Discount</th>
                        <th width="80px">Taxable value(Rs.)</th>
                </tr>
                {% for item in items %}
                        <tr class="item">
                                <td>{{ forloop.counter }}</td>
                                <td >{{ item.description}}</td>
                                <td >{{ item.hsn_code}}</td>
                                <td >{{ item.quantity_code}}</td>
                                <td class="right">{{ item.quantity|floatformat:0}}</td>
                                <td class="right">{{ item.rate|floatformat:2}}</td>
                                <td class="right"> {{ item.value|floatformat:2}}</td>
                                <td class="right">{{ item.discount_value|floatformat:2}}</td>
                                <td class="right"> {{ item.tax_value|floatformat:2}}</td>
                        </tr>
                {% endfor %}
                {% for i in filler %}
                        <tr class="item">
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                        </tr>
                {% endfor %}
                <tr>
                        <td colspan="3"></td>
                        <td class="right heading">Total</td>
                        <td class="right heading">{{ total.quantity|floatformat:0 }}</td>
                        <td class="right heading"></td>
                        <td class="right heading">{{ total.value|floatformat:2 }}</td>
                        <td class="right heading">{{ total.discount|floatformat:2 }}</td>
                        <td class="right heading">{{ total.tax_value|floatformat:2 }}</td>
                </tr>
                <tr>
                        <td colspan = "4"></td>
                        <td colspan = "5">Add Parking/Transportation Charges/Insurance</td>

                </tr>
                <tr>
                        <td colspan = "6" rowspan="3">Total in Words: <b>{{ total_in_words }}</b></td>
                        <td colspan = "2" >Total Value Before Tax (Rs.)</td>
                        <td class="right">{{ total.tax_value|floatformat:2 }}</td>

                </tr>
                <tr>
                        <td colspan = "2">Add CGST @ {{ invoice.cgst }}% On T.V.</td>
                        <td colspan = "1" class="right">{{ invoice.cgst_total|floatformat:2 }}</td>

                </tr>
                <tr>
                        <td colspan = "2">Add SGST @ {{ invoice.sgst }}% On T.V.</td>
                        <td colspan = "1" class="right">{{ invoice.sgst_total|floatformat:2 }}</td>

                </tr>
                <tr>
                        <td colspan = "6" rowspan="2"><span class="heading">Remarks:</span> {{ invoice.remarks}}</td>
                        <td colspan = "2">Add IGST @ {{ invoice.igst }}% On T.V.</td>
                        <td colspan = "1" class="right">{{ invoice.igst_total|floatformat:2 }}</td>

                </tr>
                <tr>
                        <td colspan = "2" >Tax Amount:GST(Rs.) </td>
                        <td colspan = "1" class="right">{{ invoice.gst_amount|floatformat:2 }}</td>

                </tr>
                <tr>
                        <td colspan = "2">Bank Account Number</td>
                        <td colspan = "2" class="heading">{{ invoice.account_number }}</td>
                        <td colspan = "2" rowspan="5" class="bottom" >(common seal)</td>
                        <td colspan = "2" >Total Value After Tax(Rs.)</td>
                        <td class="right">{{ invoice.grand_total|floatformat:2 }}</td>


                </tr>
                <tr>
                        <td colspan = "2">Bank Branch</td>
                        <td colspan = "2" class="heading">{{ invoice.ifsc }}</td>
                        <td colspan = "2"  >GST Payble On Reverse Charge</td>
                        <td style=""></td>

                </tr>

                <tr>
                        <td colspan = "2">PAN</td>
                        <td colspan = "2" class="heading">{{ invoice.pan }}</td>
                        <td colspan = "3" class="bottom">for,
                        <div class="top">{{ invoice.authorised_signatory }}</div>
                        </td>



                </tr>
                <tr>

                        <td colspan = "4" class="bottom">Terms And Condition</td>
                        <td colspan = "3" class="bottom">&nbsp;</td>
                </tr>
                <tr style="height:60px">
                        <td colspan = "4" class="bottom">{{ invoice.terms }}</td>
                        <td colspan = "3" class="bottom">Authorised Representative</td>

                </tr>

                <tr>
                        <td colspan = "5" class="heading right">Email</td>
                        <td colspan="4"> {{ company.contact.email }} </td>
                </tr>


                </table>
</div>



</body>

</html>
