{% extends 'frontend/base.html' %}

{% block title %}Invoice{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Generate Bill</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-12">
                                  <label>Select Company</label>
                                  <div class="row">
                                    <div class="col-xs-9">
                                      <div class="form-group">
                                        <select name="company" class="form-control">
                                            {% for company in companies %}
                                                <option value="{{company.id}}">{{company.name}}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-xs-3">
                                      <div class="form-group">
                                        <a href="{% url 'frontend:company:profile'%}">
                                            <button type="button" class="btn btn-primary">Add Company</button>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <div class="row">
                                <div class="col-lg-12">
                                  <label>Select Company</label>
                                  <div class="row">
                                    <div class="col-xs-9">
                                      <div class="form-group">
                                        <select name="client" class="form-control">
                                            {% for client in clients %}
                                                <option value="{{client.id}}">{{client.name}}</option>
                                            {% endfor %}
                                        </select>
                                      </div>
                                    </div>
                                    <div class="col-xs-3">
                                      <div class="form-group">
                                        <a href="{% url 'frontend:client:profile'%}">
                                            <button type="button" class="btn btn-primary">Add Client</button>
                                        </a>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            <div class="row">
                                <div class="col-md-12">
                                <table class="table">
                                     {{ form.as_p }}
                                    {% for form in items.forms %}
                                        {% if forloop.first %}
                                            <thead>
                                            <tr>
                                                {% for field in form.visible_fields %}
                                                    <th>{{ field.label|capfirst }}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                        {% endif %}
                                        <tr class="{% cycle row1 row2 %} formset_row">
                                            {% for field in form.visible_fields %}
                                                <td>
                                                    {% if forloop.first %}
                                                        {% for hidden in form.hidden_fields %}
                                                            {{ hidden }}
                                                        {% endfor %}
                                                    {% endif %}
                                                    {{ field.errors.as_ul }}
                                                    {{ field }}
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bank Name</label>
                                        <input type="text" class="form-control" name="name" value="{{profile.bank_detail.name}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Account Number</label>
                                        <input type="text" class="form-control" name="name" value="{{profile.bank_detail.account_number}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Bank Branch</label>
                                        <input type="text" class="form-control" name="name" value="{{profile.bank_detail.ifsc}}">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>PAN Number</label>
                                        <input type="text" class="form-control" name="name" value="{{profile.tax_detail.pan}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Terms And Conditions</label>
                                        <textarea rows="5" class="form-control" name="terms">{{profile.term}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <button type="submit" class="btn btn-block btn-info btn-fill pull-right">
                                        Generate
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{%endblock%}