<html>
<head>
<title> {{ invoice.client.client_name }} - {{ invoice.invoice_no }}</title>
</head>
<body>
<table border="1" width="800" style="border-collapse:collapse;font-size:11px; margin:auto" cellspacing="0" class="border" >
<tr>
     <td colspan = "10" align="center" style="text-align:center;">
                {{ company.company_name }}
                <br>
                {{ company.address.address }}, {{company.address.city}}, {{company.address.state}}, {{company.address.zip }}
                <br>
                {{ company.contact.phone_number }}</br></br></td>
</tr>

<tr><td colspan = "5" style="text-align:right;"><b>GSTIN:</b></td>
        <td colspan="5" style="">{{ company.gst }}</td>
</tr>
<tr><td colspan = "10" align="center" style="text-align:center;"><b>TAX INVOICE</b></br>(U/S-31(1)of CGST Act,2017 read with Rule 1) </td>
</tr>

<tr>
        <td colspan = "2" >Reverse charge</td>
        <td colspan = "3" ></td>
        <td colspan = "4" >Original For Recipient</td>
        <td style="" width="100"></td>
</tr>
<tr>
        <td colspan = "2" >Invoice No.</td>
        <td colspan = "3" align="center"> {{ invoice.invoice_no }}</td>
        <td colspan = "4" >Duplicate For Transporter</td>
        <td style="" width="100"></td>
</tr>
<tr>
        <td colspan = "2" >Invoice Date</td>
        <td colspan = "3" >{{ invoice.invoice_date }}</td>
        <td colspan = "4" >Triplicate For Supplier</td>
        <td width="100" ></td>
</tr>
<tr>
        <td colspan = "2">State</td>
        <td  width="100">{{ company.address.state.name }}</td>
        <td colspan = "2"width="10000">State Code: {{ company.address.state.code }}</td>
        <td colspan = "4"></td>
        <td style=""width="100"></td>
</tr>
<tr><td colspan = "10"style=""></br></td></tr>

<tr>
        <td colspan = "5"align="center">Detail Of Recipient/Billed To</td>
        <td colspan = "5"align="center"style="">Detail Of Consignee/ Address Of Delivery/Shipped To</td>

</tr>
<tr>
        <td colspan = "5">{{ invoice.recipient }}</td>
        <td colspan = "5"style="">{{ invoice.consignee }}</td>

</tr>
<tr>
        <td colspan = "5">{{ invoice.billing_address }}</br></td>
</br>
        <td colspan = "5">{{ invoice.shipping_address }}</br></td>

</tr>
<tr>
        <td >GSTIN/UIN</td>
        <td colspan=2 style=""> {{ invoice.client_gst }}</td>
        <td colspan = "2" ></td>
        <td colspan = "5" style=""></td>

</tr>
<tr>
        <td >State</td>
        <td colspan = "2"> {{ invoice.billing_state }}</td>
        <td colspan = "2">Code: {{ invoice.billing_state_code }}</td>
        <td colspan = "2">State</td>
        <td colspan = "2">{{ invoice.shipping_state }}</td>
        <td >Code: {{ invoice.shipping_state_code }}</td>

</tr>
  <tr><td colspan = "10"style=""><br /></td></tr>
<tr>
        <td  width="20" colspan="2" align="center">Sr No.</td>
        <td align="center" >Description Of Goods /Services</td>

        <td width="80"align="center">HSN</br>ACS</td>
        <td  width="80" align="center">Quatity</br>Code</td>
        <td width="80"align="center">Qty</td>
        <td width="80"align="center">Rate</td>
        <td width="80"align="center">Value</td>
        <td  align="center">Less Discount</td>
        <td style="" align="center">Taxable value(Rs.)</td>
</tr>
        {% for item in items %}
<tr>
        <td colspan="2">{{ forloop.counter }}</td>
        <td >{{ item.description}}</td>
        <td >{{ item.hsn_code}}</td>
        <td >{{ item.quantity_code}}</td>
        <td >{{ item.quantity}}</td>
        <td >{{ item.rate}}</td>
        <td > {{ item.value}}</td>
        <td >{{ item.discount}}</td>
        <td style="" align="center"> {{ item.tax_value}}</td>
</tr>
        {% endfor %}


<tr>
        <td colspan="4" style="border-right:1px solid #999999; "></td>
        <td style="border-right:1px solid #999999; ">Total</td>
        <td style="border-right:1px solid #999999; "><b>{{ total.quantity }}</b></td>
        <td style="border-right:1px solid #999999; "></td>
        <td style="border-right:1px solid #999999; "><b>{{ total.value }}</b></td>
        <td style="border-right:1px solid #999999; "></td>
        <td style="border-right:1px solid #999999; "><b>{{ total.tax_value }}</b></td>
</tr>
<tr>
        <td colspan = "5"style="border-right:1px solid #999999; "></td>
        <td colspan = "5" align="center"style="">Add Parking/Transportation Charges/Insurance</td>

</tr>
<tr>
        <td colspan = "7">Total in Words: <b>{{ total_in_words }}</b></td>
        <td colspan = "2"style="border-right:1px solid #999999; ">Total Value Before Tax(Rs.)</td>
        <td  style=" ">{{ total.tax_value }}</td>

</tr>
<tr>
        <td colspan = "7"></td>
        <td colspan = "2" style="border-right:1px solid #999999; ">Add CGST @ {{ invoice.cgst }}% On T.V.</td>
        <td colspan = "1" style="">{{ invoice.cgst_total }}</td>

</tr>
<tr>
        <td colspan = "7" ></td>
        <td colspan = "2" style="border-right:1px solid #999999; ">Add SGST @ {{ invoice.sgst }}% On T.V.</td>
        <td colspan = "1" style="">{{ invoice.sgst_total }}</td>

</tr>
<tr>
        <td colspan = "7">
                {% if invoice.remarks %}Remarks:- {{ invoice.remarks}} {% else %} Remarks: Notification number availed if any. {% endif %}</td>
        <td colspan = "2" style="border-right:1px solid #999999; ">Add IGST @ {{ invoice.igst }}% On T.V.</td>
        <td colspan = "1"style="" >{{ invoice.igst_total }}</td>

</tr>
<tr>
        <td colspan = "7"></td>
        <td colspan = "2" >Tax Amount:GST(Rs.) </td>
        <td colspan = "1"style="" >{{ invoice.gst_amount }}</td>

</tr>
<tr>
        <td colspan = "5"align="center">Bank Account Number:  {{ invoice.account_number }}</td>
        <td colspan = "2" ></td>
        <td colspan = "2" >Total Value After Tax(Rs.)</td>
        <td style="">{{ invoice.grand_total }}</td>


</tr>
<tr>
        <td colspan = "5">Bank Branch: {{ invoice.ifsc }}</td>
        <td colspan = "2"  ></td>
        <td colspan = "2"  >GST Payble On Reverse Charge</td>
        <td style=""></td>

</tr>

<tr>
        <th colspan = "1">PAN NO:</th>
        <td colspan = "4" >{{ invoice.pan }}</td>
        <td colspan = "2" ></td>
        <td colspan = "3">for,</td>



</tr>
<tr>

        <td colspan = "5" align="center">Terms And Condition <br /> {{ invoice.terms }}</td>
        <td colspan = "2" align="center">(common seal)</td>
        <td colspan = "3"style="" align="center"></br> {% if  invoice.authorised_signatory %}
                     {{ invoice.authorised_signatory }}
                  {% endif %}
                <br />Authorised Representative</td>

</tr>

<tr><td colspan = "5" align="center" style="text-align:right;">
        Email:</td><td colspan="5"> {{ company.contact.email }} </td></tr>


</table>
</body>

</html>
