{% extends 'frontend/base.html' %}

{% block title %}View Companies{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Companies</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="content table-responsive table-full-width">
                            {% if companyprofile %}
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>Name</th>
                                <th>GST Number</th>
                                <th>PAN Number</th>
                                <th>CGST Rate@%</th>
                                <th>SGST Rate@%</th>
                                <th>IGST Rate@%</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>State</th>
                                <th>Zip</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Phone Number</th>
                                <th>Email Address</th>
                                <th>Bank Name</th>
                                <th>Account Number</th>
                                <th>Branch Code</th>
                                <th>Remarks</th>
                                <th>Terms And Conditions</th>
                                <th>Authorise Representative</th>
                                <th>Actions</th>
                                </thead>
                                <tbody>
                                {% for company in companyprofile %}
                                <tr>
                                    <td>{{company.name}}</td>
                                    <td>{{company.GST}}</td>
                                    <td>{{company.PAN}}</td>
                                    <td>{{company.CGST}}</td>
                                    <td>{{company.SGST}}</td>
                                    <td>{{company.IGST}}</td>
                                    <td>{{company.address}}</td>
                                    <td>{{company.city}}</td>
                                    <td>{{company.state}}</td>
                                    <td>{{company.zip}}</td>
                                    <td>{{company.first_name}}</td>
                                    <td>{{company.last_lame}}</td>
                                    <td>{{company.phone_number}}</td>
                                    <td>{{company.email}}</td>
                                    <td>{{company.bank_name}}</td>
                                    <td>{{company.account_number}}</td>
                                    <td>{{company.IFSC}}</td>
                                    <td>{{company.remarks}}</td>
                                    <td>{{company.terms}}</td>
                                    <td>{{company.authorise}}</td>
                                    <td><a href="{% url 'frontend:company:company_edit' id=company.id %}">Edit</a> <a
                                            href="{% url 'frontend:company:company_remove' id=company.id %}">Delete</a></td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <p>No company in the database</p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{%endblock%}