{% extends 'frontend/base.html' %}

{% block title %}Customer Profile{% endblock %}

{% block content %}
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{profile.contact.first_name}} {{profile.contact.last_name}}'s Profile</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if error_message %}
                        <div class="alert alert-danger fade in">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>Error!</strong> {{ error_message }}
                        </div>
                        {% endif %}
                        {% if message %}
                        <div class="alert alert-success fade in">
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong>{{ message }}</strong>
                        </div>
                        {% endif %}
                        <form role="form" id="myform" action="{% url 'frontend:customer:profile' id=profile.id %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group col-lg-6">
                                <label>First Name</label>
                                <input class="form-control" name="first_name" value="{{profile.contact.first_name}}">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Last Name</label>
                                <input class="form-control" name="last_name" value="{{profile.contact.last_name}}">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Email Addrress</label>
                                <input class="form-control" name="email" value="{{profile.contact.email}}">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Phone Number</label>
                                <input class="form-control" id=phone_number name="phone_number"
                                       value="{{profile.contact.phone_number}}">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Fax Number</label>
                                <input class="form-control" name="fax_number" value="{{profile.contact.fax_number}}">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Address</label>
                                <input class="form-control" name="address" value="{{profile.address.address}}">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>City</label>
                                <input class="form-control" name="city" value="{{profile.address.city}}">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>State</label>
                                <select name="state" class="form-control">
                                    {% for state in states %}
                                    <option {% if state.id == profile.address.state.id %} selected {% endif %}
                                            value="{{state.id}}">{{state.name}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Zip</label>
                                <input class="form-control" name="zip" value="{{profile.address.zip}}">
                            </div>
                            <div class="form-group col-lg-12">
                                <button type="submit" class="btn btn-lg btn-success">Update Profile</button>
                            </div>

                        </form>
                    </div>
                    <!-- /.panel-body -->
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
{%endblock%}