{% load staticfiles %}


<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Invoice</title>
      <link href="{% static 'frontend/css/gst_bill_style.css' %}" rel="stylesheet">
   </head>
   <body>
      <div id="page-wrap">
         <table id="items">
            <tr>
               <th>{{ invoice.company_name }}
                  <br>
                  Address
                  <br>
                  Phone
               </th>
            </tr>
            <tr>
               <th>GSTIN: {{ invoice.gst }}</th>
            </tr>
            <tr>
               <th>TAX INVOICE
                  <br>
                  (akbsdfdsfsdifkdsfbks65151fshkbfsdkfb)
               </th>
            </tr>
         </table>
         <table id="items">
            <tr>
               <td>Reverse Charge</td>
               <td></td>
               <td>Original for Recipient</td>
               <td></td>
            </tr>
            <tr>
               <td>Invoice No</td>
               <td width="100"></td>
               <td>Duplicate for Transportation</td>
               <td width="100"></td>
            </tr>
            <tr>
               <td>Invoice Date</td>
               <td></td>
               <td rowspan="2"> Triplicate for Supplier</td>
               <td rowspan="2"></td>
            </tr>
            <tr>
               <td>State</td>
               <td>State Code</td>
            </tr>
         </table>
         <table id="items">
            <tr>
               <td colspan="2">Details of Recipient/Bill To</td>
               <td colspan="2">Details of Consignee/shipped To</td>
            </tr>
            <tr>
               <td colspan="2">Name</td>
               <td colspan="2">Name</td>
            </tr>
            <tr>
               <td colspan="2"><textarea>Address</textarea></td>
               <td colspan="2" rowspan="2"><textarea>Address</textarea></td>
            </tr>
            <tr>
               <td colspan="2">GST/UIN</td>
            </tr>
            <tr>
               <td >state</td>
               <td >state code</td>
               <td >state</td>
               <td >state code</td>
            </tr>
         </table>
         <table id="items">
            <tr>
               <th>Sr No.</th>
               <th>Description of goods</th>
               <th>HSN ACS</th>
               <th>Quantity code</th>
               <th>Qty</th>
               <th>Rate</th>
               <th>Value</th>
               <th>Less Discount</th>
               <th>Taxable value(Rs.)</th>
            </tr>
            <tr class="item-row">
               <td>Sr No.</td>
               <td>Description of goods</td>
               <td>HSN ACS</td>
               <td>Quantity code</td>
               <td>Qty</td>
               <td>Rate</td>
               <td>Value</td>
               <td>Less Discount</td>
               <td>Taxable value(Rs.)</td>
            </tr>
            <tr>
               <td colspan="4" align="right">Total:</td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
            </tr>
            <tr>
               <td colspan="4"> </td>
               <td colspan="5">Add packing/Transportation Charges/Insurance</td>
            </tr>
            <tr>
               <td colspan="5" rowspan="3" style="text-align:left;vertical-align:top;padding:0">Total invoice value in words:</td>
               <td colspan="3">Total Value before tax(Rs.)</td>
               <td colspan="1"></td>
            </tr>
            <tr>
               <td colspan="3">Add CGST @ %</td>
               <td colspan="2"></td>
            </tr>
            <tr>
               <td colspan="3">Add SGST @ %</td>
               <td colspan="2"></td>
            </tr>
            <tr>
               <td colspan="5" rowspan="2" style="text-align:left;vertical-align:top;padding:0">Remarks: Notification number availed if any.</td>
               <td colspan="3">Add IGST @ %</td>
               <td colspan="1"></td>
            </tr>
            <tr>
               <td colspan="3">Tax Amount: GST (Rs.)</td>
               <td colspan="2"></td>
            </tr>
            <tr>
               <td colspan="3" rowspan="2" >
                  <p style="text-align:center;vertical-align:top;padding:0">Bank Details:</p>
                  <br>Bank Account Number:[[[number]]]<br>Bank Branch:[[[ifsc code]]]
               </td>
               <td colspan="2" rowspan="4" style="vertical-align:bottom;text-align:center;">(common seal)</td>
               <td colspan="3">Total value after tax (Rs.)</td>
               <td colspan="1"></td>
            </tr>
            <tr>
               <td colspan="3">GST payble on reversed charge</td>
               <td colspan="2"></td>
            </tr>
            <tr>
               <td colspan="3">PAN number:</td>
               <td colspan="4" rowspan="2" height="100" style="text-align:center;vertical-align:top;padding:0">(kjbfsbfksfbsfbsf)<br><textarea>For,</textarea></td>
            </tr>
            <tr>
               <td colspan="3" height="100">
                  <p style="text-align:center;vertical-align:top;padding:0">Terms And Condition:</p>
                  <textarea></textarea>
               </td>
            </tr>
            <th colspan="10"/>
            <tr>
               <td colspan="5" height="25" style="vertical-align:bottom;text-align:right;">E-Mail :</td>
            </tr>
         </table>
      </div>
   </body>
</html>