{% load staticfiles %}


<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
      <title>Invoice</title>
      <link href="{% static 'frontend/css/gst_bill_style.css' %}" rel="stylesheet">
   </head>
   <body>
      <div id="page-wrap">
         <table id="items">
            <tr>
               <th>{{ company.company_name }}
                  <br>
                  {{ company.address }}, {{company.city}}, {{company.state}}, {{company.zip }}
                  <br>
                  {{ company.phone }}
               </th>
            </tr>
            <tr>
               <th>GSTIN: {{ company.gst }}</th>
            </tr>
            <tr>
               <th>TAX INVOICE
                  <br>
                  (akbsdfdsfsdifkdsfbks65151fshkbfsdkfb)
               </th>
            </tr>
         </table>
         <table id="items">
            <tr>
               <td>Reverse Charge</td>
               <td></td>
               <td>Original for Recipient</td>
               <td></td>
            </tr>
            <tr>
               <td>Invoice No</td>
               <td width="100"> {{ invoice.invoice_no }}</td>
               <td>Duplicate for Transportation</td>
               <td width="100"></td>
            </tr>
            <tr>
               <td>Invoice Date</td>
               <td>{{ invoice.invoice_date }}</td>
               <td rowspan="2"> Triplicate for Supplier</td>
               <td rowspan="2"></td>
            </tr>
            <tr>
               <td>{{ company_state.name }}</td>
               <td>{{ company_state.code }}</td>
            </tr>
         </table>
         <table id="items">
            <tr>
               <td colspan="2">Details of Recipient/Bill To</td>
               <td colspan="2">Details of Consignee/shipped To</td>
            </tr>
            <tr>
               <td colspan="2">{{ invoice.recipient }}</td>
               <td colspan="2">{{ invoice.consignee }}</td>
            </tr>
            <tr>
               <td colspan="2"><textarea> {{ invoice.billing_address }}</textarea></td>
               <td colspan="2" rowspan="2"><textarea>{{ invoice.shipping_address }}</textarea></td>
            </tr>
            <tr>
               <td colspan="2">GST/UIN</td>
            </tr>
            <tr>
               <td > {{ invoice.billing_state }}</td>
               <td > {{ invoice.billing_state_code }}</td>
               <td >{{ invoice.shipping_state }}</td>
               <td >{{ invoice.shipping_state_code }}</td>
            </tr>
         </table>
         <table id="items">
            <tr>
               <th>Sr No.</th>
               <th>Description of goods</th>
               <th>HSN ACS</th>
               <th>Quantity code</th>
               <th>Qty</th>
               <th>Rate</th>
               <th>Value</th>
               <th>Less Discount</th>
               <th>Taxable value(Rs.)</th>
            </tr>
            {% for item in items %}
            <tr class="item-row">
               <td> {{ forloop.counter }}</td>
               <td> {{ item.description}}</td>
               <td> {{ item.hsn_code}}</td>
               <td> {{ item.quantity_code}}</td>
               <td> {{ item.quantity}}</td>
               <td> {{ item.rate}}</td>
               <td> {{ item.value}}</td>
               <td> {{ item.discount}}</td>
               <td> {{ item.tax_value}}</td>
            </tr>
            {% endfor %}
            <tr>
               <td colspan="4" align="right">Total:</td>
               <td> </td>
               <td> </td>
               <td> </td>
               <td> </td>
            </tr>
            <tr>
               <td colspan="4"> </td>
               <td colspan="5">Add packing/Transportation Charges/Insurance</td>
            </tr>
            <tr>
               <td colspan="5" rowspan="3" style="text-align:left;vertical-align:top;padding:0">Total invoice value in words:</td>
               <td colspan="3">Total Value before tax(Rs.)</td>
               <td colspan="1">{{ invoice.total }}</td>
            </tr>
            <tr>
               <td colspan="3">Add CGST @ %</td>
               <td colspan="2">{{ invoice.cgst }}</td>
            </tr>
            <tr>
               <td colspan="3">Add SGST @ %</td>
               <td colspan="2">{{ invoice.sgst }}</td>
            </tr>
            <tr>
               <td colspan="5" rowspan="2" style="text-align:left;vertical-align:top;padding:0">
                  {% if invoice.remarks %} {{ invoice.remarks}} {% else %} Remarks: Notification number availed if any. {% endif %}</td>
               <td colspan="3">Add IGST @ %</td>
               <td colspan="1"> {{ invoice.igst }}</td>
            </tr>
            <tr>
               <td colspan="3">Tax Amount: GST (Rs.)</td>
               <td colspan="2">{{ invoice.gst_amount }}</td>
            </tr>
            <tr>
               <td colspan="3" rowspan="2" >
                  <p style="text-align:center;vertical-align:top;padding:0">Bank Details</p>
                  Bank Name: {{ bank_detail.bank_name }}<br />
                  Bank Account Number: {{ bank_detail.account_number }}<br>
                  Bank Branch: {{ bank_detail.ifsc }}
               </td>
               <td colspan="2" rowspan="4" style="vertical-align:bottom;text-align:center;">(common seal)</td>
               <td colspan="3">Total value after tax (Rs.)</td>
               <td colspan="1">{{ invoice.grand_total }}</td>
            </tr>
            <tr>
               <td colspan="3">GST payble on reversed charge</td>
               <td colspan="2"></td>
            </tr>
            <tr>
               <td colspan="3">PAN number: {{ tax_detail.pan }}</td>
               <td colspan="4" rowspan="2" height="100" style="text-align:center;vertical-align:top;padding:0">(kjbfsbfksfbsfbsf)<br>
                  <textarea>For, </textarea>
                  {% if  invoice.authorised_signatory %}
                     {{ invoice.authorised_signatory }}
                  {% else %}
                     {{ contact_detail.first_name}} {{ contact_detail.last_name }}
                  {% endif %}</td>
            </tr>
            <tr>
               <td colspan="3" height="100">
                  <p style="text-align:center;vertical-align:top;padding:0">Terms And Condition:</p>
                  <textarea> {{ invoice.terms }}</textarea>
               </td>
            </tr>
            <th colspan="10"/>
            <tr>
               <td colspan="5" height="25" style="vertical-align:bottom;text-align:right;">E-Mail:</td>
               <td>{{ contact_detail.email }}</td>
            </tr>
         </table>
      </div>
   </body>
</html>